body {
  margin: 0;
  font-family: sans-serif;
}

.profile {
  background-color: rgb(182, 27, 27);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-flow: column;
}

img {
  border-radius: 100%;
  width: 300px;
  box-shadow: 0 0 20px black;
}

.profile h1 {
  color: white;
  font-size: 5em;
  text-shadow: 0 0 20px black;
}

.frm_name {
  width: 30%;
  margin: auto;
  text-align: center;
  border: solid 1px black;
  margin-bottom: 1rem;
}

.frm_name input {
  margin-bottom: 1rem;
}
.title {
  text-align: center;
}