doctype html
html
    head
        title
            = htmlWebpackPlugin.options.title
        body
            .profile
                img(src=require("./images/link.jpg"), alt="sdads")
                h1
                   | Hello Hunker